@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,200&family=Roboto:ital@0;1&display=swap');

.aside {
    width: 310px;

    h1 {
        font-size: 30px;
    }
}

img {
    border-radius: 200px;
}