@import '../../variables.scss';

.skills {

  span {
    font-weight: 300;
    color: $secondary-text-color;
  }
  & > div {
    display: flex;
    justify-content: space-between;
  
    margin: 17px 0;
  }
}