.layout{
    // display: flex;
    // justify-content: center;
    border: 2px solid black;
    margin: 0 auto;
    width: 1024px;


    // text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    // flex-grow: 2;

    width: 100%;
    padding: 0 40px;

    &:first-child {
        width: 30%;
        flex-grow: 3;
    }
    &:nth-child(1) {
        width: 70%;
        flex-grow: 7;
    }
}