@import '../../variables.scss';

.article {

  p {
    width: 680px;

    margin: 8px 0;
  }
}

.article_name {
  margin: 20px 0;
}

.article_descr {
  margin: 12px 0;

  font-size: 21px;
}

.duration span {
  font-weight: 300;
}