@import '../../variables.scss';

.languages {

    h1 {
        color: $title-color;
    }
    span {
        font-weight: 300;
        color: $secondary-text-color;
    }
    p {
        display: flex;
        justify-content: space-between;
    }
}